<!-- Default home page -->
<link type="text/css" href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'/>

<h1>Signin with</h1>
<ul>
    <a href="/api/auth/github"><li>Github</li></a>
    <a href="/api/auth/facebook"><li>Facebook</li></a>
    <a href="/api/auth/foursquare"><li>Foursquare</li></a>
    <a href="/api/auth/logout"><li>Logout</li></a>
</ul>


<h1>API</h1>
<ul>
    <li>
        <p>name: REST elder</p>
        <p>url: <a href="/api/elder">/api/elder</a></p>
    </li>
    <li>
        <p>name: REST</p>
        <p>url: <a href="/api/elder/">/api/elder/<elder name or Id></a></p>
    </li>
    <li>
        <p>name: GET opendata</p>
        <p>url: <a href="/api/opendata/coeat">/api/opendata/coeat</a></p>
    </li>
</ul>